{% extends 'layouts/base_layout.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container container-content">
        <div class="row">
            <div class="col col-12">
                <div class="text-heading">Call for Papers</div>
                <div class="embedded-pdf-center">
                    <iframe
                        src="/static/call_for_papers_pdf/Call for Papers - CIRCH 2024.pdf"
                        width="800"
                        height="500"
                        style="border: none;"
                    ></iframe>
                </div>
                <p class="call-for-papers-text-after-heading">
                    <b>Research Topics</b>
                    <p>CIRCH 2024 is soliciting submissions of novel research papers (first-hand analysis of data or experiment that has not been published before) in fields including but not limited to:</p>
                    <ul>
                        <li>Big Data</li>
                        <li>Data Science</li>
                        <li>Technology</li>
                        <li>Engineering</li>
                        <li>Mathematics</li>
                        <li>Humanities (Psychology, History, Literature, Economics, Education, etc.)</li>
                    </ul>
                    <b>Submission Guidelines and Author Instructions</b>
                    <ul>
                        <li>The primary author should be a high school student, a university student, or a university researcher. If a high school teacher supervises the high school student-authored paper, the teacher’s name should be included.</li>
                        <li>CIRCH 2024 is inviting two types of contributions:</li>
                            <li>Full paper submission (first-hand analysis of data or experiments that has not been published before): 3-5 pages;</li>
                            <li>Presentation abstract submission: 1-2 pages;</li>
                        <li>All submissions should adhere to the prescribed two-column style, and use author and year citations together with an alphabetically organized bibliography. The conference language is English. The CIRCH 2024 template to use for formatting is provided as an MS Word template (click here to download it).</li>
                        <li>Submission of papers is via EasyChair – submitters are required to create a free account using this link.</li>
                    </ul>
                    For submission guidelines for video presentation, check Registration.
                    <b>Reviewing Process and Publication</b>
                    <ul>
                        <li>The authors of both successful papers and abstracts will be invited to deliver oral presentations at the conference. In order to prevent interruption caused by network issues, those who cannot participate in the conference in person will be required to submit a pre-recorded video of their presentation.  Submitted videos will be presented during the conference followed by a short discussion session.</li>
                    </ul>
                    For the Full-Paper Review Rubric, check Rubric.
                    <b>Important Dates</b>
                    Conference paper submission (Soft) deadline: February 18th, 2024

                    Conference Date: April 6th, 2024

                    Please note that if you have not completed the full paper by this deadline, it is completely fine to only submit your abstract.
{% endblock %}