{% extends 'layouts/base_layout.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container container-content">
        <div class="row">
            <div class="col col-8 news-content">
                <div class="text-heading">News</div>
                <p class="text-after-heading">
                    <b>November 6, 2023</b>
                    <p>The soft deadline for paper submission is February 18th, 2024! Please read the Call for Papers for detailed guidelines.</p>
                    <b>September 28, 2023</b>
                    <p>We are thrilled to introduce our new group of CIRCH Committee members for the fifth annual Conference.</p>                                                                                                                                                                 Please feel free to check Organizers to briefly learn about the departments within our organization. 
                    <b>August 15, 2023</b>
                    <p>We are excited to announce that our next conference will be held on April 6th, 2024! More information to come soon!</p>
                </p>
            </div>
            <div class="col col-4">
                <img class="image-poster" src="/static/images/circh_2024_poster.png">
            </div>
        </div>
        <div class="row logo-midpage">
            <img src="/static/images/circh_2024.png">
        </div>
        <div class="text-heading">Our Purpose</div>
        <p class="text-after-heading">
            <p>The 5th annual Concordia International Research Conference Hanoi (CIRCH) will be held on April 6, 2024. CIRCH is a one-day conference for students from academic institutions all over the world hosted at Concordia International School Hanoi’s campus, designed to promote and further global interest in multidisciplinary research. The conference will entertain a series of speakers in addition to an open (forum) discussion regarding presentations. Concordia International School Hanoi strongly believes that it is important to recognize students with a passion for various subjects by providing them with a medium to communicate their findings and receive constructive feedback for their work. 
            <p>This year’s conference will be held in a hybrid format, incorporating both offline presentations for the participants who are available to attend the conference in-person and virtual presentations via an online platform, Zoom.
            <br>
            <br>
            <b>Mission and Vision Statements of CIRCH:</b>
            <ul>
                <li>To promote interdisciplinary knowledge, research techniques, higher-level writing skills, and a feedback system for high school students and university students on a national and international scale.</li>
                <li>To help develop high school students from consumers of knowledge to producers and co-constructors of knowledge.</li>
                <li>To be Asia’s most-renowned high school research conference with the most international attendance.</li>
                <li>To encourage students’ interest in innovative, rigorous, and responsible data analysis and research.</li>
            </ul>
        </p>
    </div>
{% endblock %}