{% extends 'layouts/base_layout.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container container-content">
        <div class="row">
            <div class="col col-12">
                <section>
                <ul class="organize-last-editions" style="list-style-type: none">
                    <li>
                        <a target="_blank" href="https://sites.google.com/concordiahanoi.org/circh2023/home" >CIRCH 2023 - April 1st, 2023 (Hybrid)</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://sites.google.com/concordiahanoi.org/circh2022/" >CIRCH 2022 - April 2nd, 2022 (Hybrid)</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://sites.google.com/concordiahanoi.org/circh2021" >CIRCH 2021 - April 3rd, 2021 (Online)</a>
                    </li>
                    <li>
                        <div class="organize-last-editions">
                            CIRCH 2020 - Cancelled due to the Covid-19 Pandemic
                        </div>
                    </li>
                    <li>
                        <div class="organize-last-editions">
                            CIRCH 2019 - April 9th, 2019 - On Campus
                        </div>
                    </li>
                </ul>
                
            
{% endblock %}