{% extends 'layouts/base_layout.html' %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container container-content">
        <div class="row">
            <div class="col col-12">
                <h1 class="heading">
                    Schedule
                </h1>
                <p class="text-before-heading">
                    Please check the document below for the event's schedule.
                    In case of any further inquiries, please send these questions to <a href="mailto:circh@concordiahanoi.org">circh@concordiahanoi.org</a>.
                <div class="embedded-pdf-center">
                    <iframe width="100%" height="500px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQf7Lqac0OXW1WNF6edkhQCDrohJjPAczbdZz7iYQXd4aKJFF5BFY81vzEWrH0QMIQcUGY9kBwKivmr/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
                </div>
{% endblock %}